* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#ui {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#stage {
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 140, 0);
}

#overlay {
    z-index: 9995;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}