@import 'normalize.css';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
}

#stage {
	z-index: 999;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin-right: 16px;
	background: linear-gradient(0deg, #ff9a03, #ff2448);
	/* background: linear-gradient(-25deg, #39a372, #e8ff66); */
	transition: transform 1s ease;
}

#newPost {
	z-index: 9999;
	position: fixed;
	top: 16px;
	left: 50%;
	transform: translateX(-50%);
}

#newPost:active {
	transform: translateX(-50%) translateY(8px);
}

#post {
	margin-top: 8px;
	width: 100%;
}

.cool-button {
	cursor: pointer;
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 24px;
	border-radius: 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: white;
	box-shadow: 0 8px black;
	border: solid 3px black;
	transition: all 0.1s ease;
}

.cool-button:active {
	box-shadow: 0 0px black;
	background-color: rgb(164, 164, 164);
	transform: translateY(8px);
}

.cool-button:active,
.cool-button:focus {
	outline: none;
}

#overlay {
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	transition: opacity 0.2s linear;
	backdrop-filter: blur(16px) grayscale(0.2);
	background-color: rgba(255, 255, 255, 0.2);
}

#modal {
	z-index: 999999;
	position: fixed;
	top: 45%;
	left: 50%;
	width: 400px;
	padding: 64px;
	padding-top: 48px;
	letter-spacing: 1px;
	border-radius: 16px;
	background-color: white;
	transition: top 0.4s ease;
	box-shadow: 0 12px black;
	border: solid 4px black;
	transform: translate(-50%, -50%);
}

label {
	user-select: none;
	color: #969696;
	display: inline-block;
	font-style: italic;
	font-size: 14px;
	letter-spacing: 1px;
	padding-bottom: 4px;
}

.label {
	user-select: none;
	color: #000000;
	display: inline-block;
	font-weight: bold;
	padding: 3px 3px;
	font-size: 14px;
	letter-spacing: 1px;
	padding-bottom: 4px;
}
.buttonOrg {
	margin-bottom: 20px;
}

.button {
	width: 22px;
	height: 22px;
	display: inline-block;
	color: black;
	background-color: white;
	transform: translateX(-50%);
	box-shadow: 0 4px black;
	transition: all 0.1s ease;
	border-radius: 8px;
	margin-left: 10px;
}

.button:active {
	box-shadow: 0 0px black;
	background-color: rgb(164, 164, 164);
	transform: translateX(-50%) translateY(4px);
}

.button:active,
.button:focus {
	outline: none;
}

.slider {
	border-radius: 4px;
	-webkit-appearance: none;
	width: 100%;
	height: 32px;
	outline: none;
	background: #d3d3d3;
	border: solid 4px black;
	margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 4px;
	appearance: none;
	width: 32px;
	height: 32px;
	background: black;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 32px;
	height: 32px;
	background: black;
	cursor: pointer;
}

#pauseMenu {
	z-index: 9999;
	position: fixed;
	top: 16px;
	left: 16px;
}

#news {
	z-index: 9999;
}

.news-block {
	overflow: hidden;
	position: fixed;
	display: block;
	width: 400px;
	height: 128px;
	padding: 32px 24px;
	border: solid 4px black;
	background-color: white;
	transition: 0.8s top ease-out, 0.9s right ease, transform 1s ease;
}

.news-block > h3 {
	margin: 0;
	margin-bottom: 4px;
	padding-bottom: 2px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1px;
	border-bottom: dashed 2px black;
}

.news-block > p {
	margin: 0;
	font-size: 12px;
}

.news-block.old {
	transform: rotate(10deg) scale(0.75);
	top: -200px;
	right: 16px;
}

.news-block.one {
	top: 16px;
	right: 16px;
}

.news-block.two {
	top: 152px;
	right: 16px;
}

.news-block.last {
	top: 288px;
	right: 16px;
}

.news-block.next {
	transform: rotate(-10deg) scale(1.5) skewY(-5deg);
	top: 288px;
	right: -600px;
}

#menu {
	z-index: 999999;
	position: fixed;
	top: 45%;
	left: -150%;
	width: 400px;
	padding: 64px;
	padding-top: 48px;
	letter-spacing: 1px;
	border-radius: 16px;
	background-color: white;
	transition: top 0.4s ease;
	box-shadow: 0 12px black;
	border: solid 4px black;
	transform: translate(-50%, -50%);
}

@media (max-width: 1130px) {
	.news-block {
		width: 300px;
	}

	.news-block > h3 {
		font-size: 14px;
		letter-spacing: normal;
	}
	.news-block > p {
		font-size: 14px;
	}
}

.selc-button {
	cursor: pointer;
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 15px;
	border-radius: 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: 0 8px black;
	border: solid 3px black;
	transition: all 0.1s ease;
}

.selc-button:active {
	box-shadow: 0 0px black;
	transform: translateY(8px);
}

.selc-button:active,
.selc-button:focus {
	outline: none;
}

.theme-picker {
	display: flex;
	overflow: hidden;
	border-radius: 8px;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin-bottom: 24px;
	box-shadow: 0 8px black;
	border: solid 4px black;
	background-color: black;
}

.theme-picker .row {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	background-color: black;
}

.theme-picker button {
	cursor: pointer;
	border-radius: 0;
	width: 100%;
	height: 64px;
	border: none;
	outline: solid 4px black;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.theme-picker button:active {
	outline: none
}

.theme-picker button:focus {
	outline: none
}

#game {
	background-image: url('./sprites/Game.png');
}

#book {
	background-image: url('./sprites/Educational.png');
}

#politics {
	background-image: url('./sprites/Political.png');
}

#movie {
	background-image: url('./sprites/Film.png');
}

#music {
	background-image: url('./sprites/Music.png');
}

#sports {
	background-image: url('./sprites/Sports.png');
}

#start-menu {
	background-image: url('./sprites/bg.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Times New Roman', Times, serif;
	color: red;
	z-index: 99999999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: yellow;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-shadow: 0px 4px  black, 0px -4px  black, 4px 0px  black, -4px 0px  black;
}

#start-menu * {
	width: 100%;
	text-align: center;
}

#start-menu p {
	font-size: 32px;
	color: cyan;
}

#start-button {
	font-size: 64px;
	font-weight: bold;
	font-style: italic;
}
