@import 'normalize.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #CA80FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}